{% extends 'base.html' %} {% block content %} {% load cart %} {% load custom_filter %}

<div class="container mx-auto mt-4 mb-4">
    <div class="border border-roubded">
        <table class="table">
            <p class="display-4 ml-4 p-4">Your Cart</p>
            <hr>
            <thead>
                <tr>
                    <th>Sr.No</th>
                    <th>Image</th>
                    <th>Product</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                {% for product in products %}
                <tr>
                    <td>{{forloop.counter}}</td>
                    <td><img src="{{product.image.url}}" style="height:80px"></td>
                    <td>{{product.name}}</td>
                    <td>{{product.price|currency}}</td>
                    <td>{{product|cart_quantity:request.session.cart}}</td>
                    <td>{{product|price_total:request.session.cart|currency}}</td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="4"></th>
                    <th>Total</th>
                    <th>{{products|total_cart_price:request.session.cart|currency}}</th>
                </tr>
            </tfoot>


        </table>

        <hr>

        <div class="m-5 p-3">
            <a href="#" class="btn btn-light border rounded float-right col-lg-3">Checkout</a>
        </div>
    </div>
</div>

{% endblock %}